body {
  background-image: url(../images/starry.jpg);
  background-size: stretch;
}

.screen {
  width: 1100px;
  height: 800px;
  background-image: url(../images/starwarbg.jpg);
  background-size: stretch;
  margin: 0 auto;
  padding-top: 30px;
}

p {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.row {
  height: 150px;
  margin-left: 10px;
}
img {
  padding: 20px;
  background-color: white;
  height: 100px;
  width: 100px;
  border: 2px darkblue solid;
  margin-right: 5px;
}

.frame {
  position: relative;
  width: 140px;
  float: left;
}
.name {
  position: absolute;
  top: 2px;
  width: 100%;
  text-align: center;
}

.hp {
  position: absolute;
  bottom: 4px;
  width: 100%;
  text-align: center;
}
